body {
  font-size: 16px;
  background: white; }
  body div.container {
    margin: auto;
    font: Georgia 1.9em;
    width: 700px; }
  body table {
    border: 1px solid #eee; }
    body table tr:nth-child(odd) {
      background: #eee; }
    body table td:first-child {
      width: 150px; }
    body table th {
      background-color: #d11; }
  body container {
    color: blueviolet; }
