/* Imported Styles */
/*************************************************************/
/*** BUGGY CAR WASH - PURE CSS ANIMATED BUBBLES STYLESHEET ***/
/*** https://codepen.io/Mark_Bowley/pen/mEtqj ****************/
/*************************************************************/
/* Mixin declaration outside of variables.scss */
/* Bubbles to show only on tablet and above */
@media (min-width: 768px) {
  /* Set canvas size of viewport */
  #background-wrap {
    bottom: 395px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1; }
  /* KEYFRAMES */
  @-webkit-keyframes animateBubble {
    0% {
      margin-top: 1000px; }
    100% {
      margin-top: -100%; } }
  @-moz-keyframes animateBubble {
    0% {
      margin-top: 1000px; }
    100% {
      margin-top: -100%; } }
  @keyframes animateBubble {
    0% {
      margin-top: 1000px; }
    100% {
      margin-top: -100%; } }
  @-webkit-keyframes sideWays {
    0% {
      margin-left: 0px; }
    100% {
      margin-left: 50px; } }
  @-moz-keyframes sideWays {
    0% {
      margin-left: 0px; }
    100% {
      margin-left: 50px; } }
  @keyframes sideWays {
    0% {
      margin-left: 0px; }
    100% {
      margin-left: 50px; } }
  /* ANIMATIONS */
  .x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: -5%;
    top: 5%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6); }
  .x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 5%;
    top: 80%;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4); }
  .x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 10%;
    top: 40%;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7); }
  .x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    left: 20%;
    top: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3); }
  .x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 30%;
    top: 50%;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5); }
  .x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 50%;
    top: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8); }
  .x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 65%;
    top: 70%;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4); }
  .x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    left: 80%;
    top: 10%;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3); }
  .x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 90%;
    top: 50%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6); }
  .x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 80%;
    top: 80%;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3); }
  /* BUBBLE OBJECTS */
  .bubble {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
    height: 200px;
    position: absolute;
    width: 200px; }
  .bubble:after {
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 20%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(20%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 20%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 20%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 20%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 20%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    content: "";
    height: 180px;
    left: 10px;
    position: absolute;
    width: 180px; } }

/* Imported Styles */
/*********************************************/
/*** BUGGY CAR WASH - VARIABLES STYLESHEET ***/
/*********************************************/
/* Color Sceme */
/* Font Stack */
/* Font Styles */
/* Custom Variables */
/* Buggy Bubble Pop CSS3 Effects */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

@-webkit-keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }

@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }

.hvr-icon-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-icon-pop .hvr-icon {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-icon-pop:hover .hvr-icon, .hvr-icon-pop:focus .hvr-icon, .hvr-icon-pop:active .hvr-icon {
  -webkit-animation-name: hvr-icon-pop;
  animation-name: hvr-icon-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* Mixins - Media Queries */
/* Responsive Table */
/*****************************************************/
/*** BUGGY CAR WASH - RESPONSIVE TABLES STYLESHEET ***/
/*****************************************************/
/* DEFAULT TABLES STYLES */
table {
  background: #EFEFEF;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  empty-cells: show; }
  table .border.border-warning {
    border-width: 5px !important; }
  table th {
    background: #fff; }

@media (min-width: 992px) {
  table.table-self-service {
    width: calc(100% - 178px); } }

table.table-self-service .fa-check-circle {
  font-size: 24px; }

@media (min-width: 768px) {
  .table-soft-touch th td:first-child, .table-soft-touch tr td:first-child,
  .table-touch-free th td:first-child,
  .table-touch-free tr td:first-child {
    max-width: 200px; }
  /* Add the title for the Best Deal Column */
  .best-deal {
    padding-bottom: 12px !important; }
    .best-deal:before {
      content: "BEST DEAL!";
      text-align: center;
      height: 25px;
      color: #ED2324;
      background: #ffc107;
      display: block; } }

/* Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically. */
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Remove Best Deal border in Mobile */
  .border-warning {
    border: none !important; }
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block; }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  tr:nth-child(odd) {
    background: #ccc; }
  tr td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%; }
    tr td:before {
      position: absolute;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      top: 3px;
      left: 12px;
      text-align: left; }
    tr td:after {
      position: absolute;
      top: 25px;
      left: 12px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold;
      font-size: 0.75rem;
      text-align: left; }
  .table-soft-touch tr td:nth-of-type(1):before,
  .table-touch-free tr td:nth-of-type(1):before {
    content: ""; }
  .table-soft-touch tr td:nth-of-type(2):before,
  .table-touch-free tr td:nth-of-type(2):before {
    content: "Ultimate"; }
  .table-soft-touch tr td:nth-of-type(3):before,
  .table-touch-free tr td:nth-of-type(3):before {
    content: "Supreme"; }
  .table-soft-touch tr td:nth-of-type(4):before,
  .table-touch-free tr td:nth-of-type(4):before {
    content: "Deluxe"; }
  .table-soft-touch tr td:nth-of-type(5):before,
  .table-touch-free tr td:nth-of-type(5):before {
    content: "Express"; }
  .table-soft-touch tr td:nth-of-type(1):after {
    content: ""; }
  .table-soft-touch tr td:nth-of-type(2):after {
    content: "$15"; }
  .table-soft-touch tr td:nth-of-type(3):after {
    content: "$13"; }
  .table-soft-touch tr td:nth-of-type(4):after {
    content: "$11"; }
  .table-soft-touch tr td:nth-of-type(5):after {
    content: "$9"; }
  .table-touch-free tr td:nth-of-type(1):after {
    content: ""; }
  .table-touch-free tr td:nth-of-type(2):after {
    content: "$15"; }
  .table-touch-free tr td:nth-of-type(3):after {
    content: "$12"; }
  .table-touch-free tr td:nth-of-type(4):after {
    content: "$10"; }
  .table-touch-free tr td:nth-of-type(5):after {
    content: "$8"; } }

/**************************************************/
/*** BUGGY CAR WASH - PARALLAX FOOTER STYLESHET ***/
/**************************************************/
main {
  min-height: 100%;
  min-height: 100vh;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 15px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 15px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 15px 0; }

#parallaxFooter {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0; }

/****************************************/
/*** BUGGY CAR WASH - BASE STYLESHEET ***/
/****************************************/
/* DEFAULT STYLES */
* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0; }

html {
  font-size: 16px; }

body h1, body h2 {
  font: bold 16px "Source Sans Pro", Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #1E5B8F; }

body h1 {
  font-size: 2.5rem;
  line-height: 3.125rem; }

body h2 {
  font-size: 2.25rem;
  line-height: 2.875rem; }

body h3 {
  font-size: 1.5rem;
  line-height: 2rem; }

body p {
  font: 500 16px "Source Sans Pro", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.375rem;
  line-height: 1.875rem;
  color: #000; }
  body p.lead {
    font-weight: 600; }

body a, body a:active, body a:hover, body a:visited {
  color: #1E5B8F;
  text-decoration: none; }

body a:active, body a:hover {
  color: #0084B5;
  text-decoration: none; }

/* CUSTOM STYLES */
.container, .container-fluid {
  z-index: 2; }

.container {
  width: inherit;
  margin: auto; }
  @media (min-width: 992px) {
    .container {
      width: 1220px; } }
  @media (max-width: 991px) {
    .container {
      width: 100%;
      max-width: 100%;
      margin: auto; } }

.display-1, .display-2, .display-3, .display-4 {
  font: 600 16px "Source Sans Pro", Arial, Helvetica Neue, Helvetica, sans-serif; }

.display-1, .display-2, .display-4 {
  text-align: center; }

.display-1 {
  font-size: 4.125rem; }

.display-2 {
  font-size: 3.438rem; }

.display-3 {
  font-size: 2.5rem; }

.display-4 {
  font-size: 1.4rem; }

.line-height-default {
  line-height: 1; }

.validation-error {
  color: #ED2324;
  text-align: right;
  font-size: .75rem;
  font-weight: bold;
  padding-left: 10px; }

.primary-gradient {
  background: #B5E1F2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #B5E1F2 0%, #1384B5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #B5E1F2 0%, #1384B5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #B5E1F2 0%, #1384B5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-light-blue', endColorstr='$gradient-dark-blue',GradientType=0 );
  /* IE6-9 */ }

.drop-shadow {
  -webkit-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.42); }

.delay {
  -webkit-animation: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.sticky {
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  position: fixed !important;
  top: 0 !important; }

.drop-opacity {
  /* The drop-opacity class is added to the main nav to add transparency to its background */
  background: rgba(0, 132, 181, 0.9) !important; }

.sticky + .content {
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  padding-top: 152px; }

.circle-icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  line-height: 1;
  text-align: center; }

.fa {
  line-height: 23px; }

.fa.fas {
  font-size: 0.9rem;
  margin: 0; }

.icon-link {
  background: #fff; }
  .icon-link:active, .icon-link:hover {
    background: #0084B5; }
    .icon-link:active .fa, .icon-link:hover .fa {
      color: #fff; }

.fa-check-circle {
  color: #17B25F; }

#return-to-top {
  position: fixed;
  z-index: 7;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 132, 181, 0.9);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  #return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  #return-to-top:hover {
    background: rgba(30, 91, 143, 0.9); }
    #return-to-top:hover i {
      color: #fff;
      top: 5px; }

header {
  z-index: 3; }
  header #topBar {
    background: #1E5B8F;
    min-height: 42px;
    font-size: 1rem; }
    header #topBar .fa {
      color: #1E5B8F; }
    header #topBar .open-hours {
      font-size: 1.125rem; }
    @media (max-width: 1219px) {
      header #topBar {
        font-size: 0.938rem; } }
  header #mainNav {
    background: #0084B5;
    min-height: 110px; }
    header #mainNav .navbar-brand {
      z-index: 4; }
      @media (max-width: 991px) {
        header #mainNav .navbar-brand {
          width: calc(100% - 72px); } }
      header #mainNav .navbar-brand .logo-lg {
        display: none; }
        @media (min-width: 992px) {
          header #mainNav .navbar-brand .logo-lg {
            display: inline-block;
            max-width: 300px; } }
      header #mainNav .navbar-brand .logo-sm {
        display: none; }
        @media (max-width: 991px) {
          header #mainNav .navbar-brand .logo-sm {
            display: inline-block; } }
    header #mainNav #navbarResponsive ul.navbar-nav li.nav-item a.nav-link {
      font-size: 1.25rem;
      font-weight: 700;
      text-transform: uppercase; }
    header #mainNav #navbarResponsive ul.navbar-nav li.nav-item.active {
      border: solid 1px #fff; }

main {
  background: #D4EBF5; }
  main .carousel-container {
    background: #97D0E7;
    z-index: 2; }
  @media (max-width: 991px) {
    main .welcome-section .card-deck .card {
      -ms-flex: unset;
      flex: unset;
      margin-bottom: 15px; } }
  main .welcome-section .card-deck .card .card-text {
    font-size: 1.125rem; }
  main .welcome-section .card-deck .card img {
    max-height: 70px; }
  main .services-section #accordion .card a:hover .card-header {
    background: #1E5B8F;
    border-radius: calc(.25rem - 1px); }
    main .services-section #accordion .card a:hover .card-header h2 {
      color: #fff; }
  main .testimonials-section #testimonialCarousel .carousel-inner {
    background: #D4EBF5;
    z-index: 2;
    min-height: 240px;
    border-radius: 15px; }
    main .testimonials-section #testimonialCarousel .carousel-inner .fa {
      color: #1E5B8F; }
  main .contact-section {
    background: #fff;
    z-index: 2; }
    main .contact-section .active {
      background: #17B25F !important; }
      main .contact-section .active:before {
        font-family: inherit !important;
        content: "Sending..." !important;
        padding-left: 30px;
        background: url("../images/icons/ajax-loader.gif") top 6px left no-repeat; }
    main .contact-section .contact-image {
      text-align: center; }
      main .contact-section .contact-image img {
        background: #fff;
        border-radius: 6rem;
        width: 130px;
        margin-top: -6%; }
    main .contact-section #contactForm #submitButton {
      font-size: 1rem;
      font-weight: bold; }
      main .contact-section #contactForm #submitButton:before {
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free", "Source Sans Pro", Arial, Helvetica Neue, Helvetica, sans-serif;
        content: "\f1d8 \00a0 \00a0 Send"; }

#parallaxFooter {
  background: #0084B5;
  z-index: -1; }
  #parallaxFooter .footer-container {
    z-index: 3; }
    #parallaxFooter .footer-container p {
      font-size: 1rem;
      line-height: 1.4; }
      #parallaxFooter .footer-container p .fa {
        color: #0084B5; }
      @media (max-width: 1219px) {
        #parallaxFooter .footer-container p {
          font-size: 0.938rem; } }
    #parallaxFooter .footer-container .copyright-container {
      max-width: 270px; }
