/* Imported Styles */
/*********************************************/
/*** BUGGY CAR WASH - VARIABLES STYLESHEET ***/
/*********************************************/
/* Color Sceme */
/* Font Stack */
/* Font Styles */
/* Custom Variables */
/* Buggy Bubble Pop CSS3 Effects */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

@-webkit-keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }

@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }

.hvr-icon-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-icon-pop .hvr-icon {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-icon-pop:hover .hvr-icon, .hvr-icon-pop:focus .hvr-icon, .hvr-icon-pop:active .hvr-icon {
  -webkit-animation-name: hvr-icon-pop;
  animation-name: hvr-icon-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* Mixins - Media Queries */
/****************************************/
/*** BUGGY CAR WASH - BASE STYLESHEET ***/
/****************************************/
/* DEFAULT STYLES */
* {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  font-size: 16px; }

body {
  background: #fff; }
  body h1, body h2, body h3 {
    font: bold 16px "Source Sans Pro", Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #000; }
  body h1 {
    font-size: 2.5rem;
    line-height: 3.125rem; }
  body h2 {
    font-size: 2.25rem;
    line-height: 2.875rem; }
  body h3 {
    font-size: 1.5rem;
    line-height: 2rem; }
  body p {
    font: 600 16px "Source Sans Pro", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1.375rem;
    line-height: 1.875rem;
    color: #000; }
  body a, body a:active, body a:hover, body a:visited {
    color: #1E5B8F;
    text-decoration: none; }
  body a:active, body a:hover {
    color: #0084B5;
    text-decoration: none; }
  body table {
    border-spacing: 0;
    border-collapse: collapse; }
  body td {
    text-align: left;
    font-weight: normal; }

/* CUSTOM STYLES */
div.container {
  width: inherit;
  margin: auto; }
  @media (min-width: 992px) {
    div.container {
      width: 1220px; } }
  @media (max-width: 991px) {
    div.container {
      width: 100%;
      max-width: 100%;
      margin: auto; } }

.primary-gradient {
  background: #B5E1F2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #B5E1F2 0%, #1384B5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #B5E1F2 0%, #1384B5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #B5E1F2 0%, #1384B5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-light-blue', endColorstr='$gradient-dark-blue',GradientType=0 );
  /* IE6-9 */ }

.drop-shadow {
  -webkit-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.42); }

.delay {
  -webkit-animation: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.sticky {
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  position: fixed !important;
  top: 0 !important; }

.drop-opacity {
  /* The drop-opacity class is added to the main nav to add transparency to its background */
  background: rgba(0, 132, 181, 0.9) !important; }

.sticky + .content {
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  padding-top: 152px; }

.circle-icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  text-align: center; }

.fa {
  color: #1E5B8F; }

.fa.fas {
  font-size: 0.9rem;
  margin: 0 !important; }

.icon-link {
  background: #fff; }
  .icon-link:active, .icon-link:hover {
    background: #0084B5; }
    .icon-link:active .fa, .icon-link:hover .fa {
      color: #fff; }

header {
  z-index: 2; }
  header #topBar {
    background: #1E5B8F;
    min-height: 42px;
    color: #fff;
    font-size: 1rem; }
    header #topBar .open-hours {
      font-size: 1.125rem; }
    @media (max-width: 1219px) {
      header #topBar {
        font-size: 0.938rem; } }
  header #mainNav {
    background: #0084B5;
    min-height: 110px; }
    header #mainNav .navbar-brand {
      z-index: 3; }
      header #mainNav .navbar-brand .logo-lg {
        display: none; }
        @media (min-width: 992px) {
          header #mainNav .navbar-brand .logo-lg {
            display: inline-block;
            max-width: 315px; } }
      header #mainNav .navbar-brand .logo-sm {
        display: none; }
        @media (max-width: 991px) {
          header #mainNav .navbar-brand .logo-sm {
            display: inline-block;
            max-width: 315px; } }
    header #mainNav #navbarResponsive ul.navbar-nav li.nav-item a.nav-link {
      font-size: 1.25rem;
      font-weight: 700;
      text-transform: uppercase; }
    header #mainNav #navbarResponsive ul.navbar-nav li.nav-item.active {
      border: solid 1px #fff; }

main {
  background: #D4EBF5; }
  main .buggy-carousel {
    background: #97D0E7;
    z-index: 0; }
