/**************************************************/
/*** BUGGY CAR WASH - PARALLAX FOOTER STYLESHET ***/
/**************************************************/
main {
  min-height: 100%;
  min-height: 100vh;
  position: relative; }

#parallaxFooter {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0; }
